*::-webkit-scrollbar {
	display: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

html {
	background-color: rgb(228, 228, 228);
	font-family: "Expletus Sans", sans-serif;
	height: 100%;
	width: 100%;
}

nav {
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 5fr 2fr;
	grid-template-areas: ". navigation .";
}

nav ul {
	grid-area: navigation;
	width: 100%;
	height: 100px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	list-style: none;
}

nav li {
	text-align: center;
	margin: 7px;
	border-bottom: 1px solid black;
	background-color: rgb(245, 245, 245);
	transition-duration: 0.1s;
	border-radius: 2px;
}

nav li:hover {
	border: 1px solid white;
	transform: translateY(3px);
}

li a:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

li a {
	text-shadow: 1px 5px 10px rgba(255, 255, 255, 1);
	text-decoration: none;
	color: black;
	font-size: 23px;
}

.closer {
	margin: 7px;
	border-bottom: 1px solid rgb(102, 102, 102);
	background-color: rgb(245, 245, 245);
}

section {
	margin-top: 10px;
	font-family: "Tilt Neon", sans-serif;
	padding: 10px;
	background-color: rgb(236, 236, 236);
	display: grid;
	grid-template-columns: 3fr 12fr 3fr;
	grid-template-areas: ". title ." ". content .";
	grid-template-rows: 3;
	min-height: 100px;
	width: 100%;
}

section h1:first-of-type {
	margin-top: 25px;
	grid-area: title;
	font-size: 30px;
	padding: 2px;
}

section div:first-of-type {
	margin-top: 20px;
	grid-area: content;
	font-size: 25px;
}

section img {
	width: 100%;
	height: 500px;
	border-radius: 24px 24px 24px 24px;
	filter: grayscale(0.4) brightness(0.9);
}

footer {
	position: fixed;
	bottom: 15px;
	left: 10px;
}

tr {
	width: 100%;
	height: 20px;
}

td,
th {
	font-size: 17px;
	margin: 20px;
	padding: 20px;
	text-align: right;
	border: 1px solid black;
}

td:nth-child(2n + 1),
th:nth-child(2n + 1) {
	color: black;
	text-shadow: -1px 1px 0 #d6d6d6, 1px 1px 0 #d6d6d6, 1px -1px 0 #d6d6d6, -1px -1px 0 #d6d6d6;
	background-color: rgb(202, 202, 202);
}
td:nth-child(2n),
th:nth-child(2n) {
	color: white;
	text-shadow: -1px 1px 0 #123, 1px 1px 0 #123, 1px -1px 0 #123, -1px -1px 0 #123;
	background-color: rgb(133, 133, 133);
}

.warning {
	color: rgb(83, 0, 0);
	text-decoration: underline;
	font-size: 20px;
}

ol {
	list-style-type: decimal;
}

ol li {
	border-left: 1px solid black;
	padding-left: 10px;
}
